### Importing the necessary libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

C:\Users\Gobinath\Anaconda3\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

### Importing data

In [2]:
loan_data = pd.read_json(r'C:\Users\Gobinath\Desktop\tasks\loan_data.json')

### Data understanding

In [13]:
loan_data.shape

(511, 10)

In [14]:
loan_data.isna().sum()

Application_ID        0
Gender                0
Married               0
Dependents            0
Education             0
Self_Employed         0
Credit_History        0
Property_Area         0
Income                0
Application_Status    0
dtype: int64

In [15]:
loan_data.dtypes

Application_ID        object
Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
Credit_History         int64
Property_Area         object
Income                object
Application_Status    object
dtype: object

###  Data Preparation

In [17]:
loan_data.query('Dependents == "3+"')

,Application_ID,Gender,Married,Dependents,Education,Self_Employed,Credit_History,Property_Area,Income,Application_Status
7,LP001014,Male,Yes,3+,Graduate,No,0,Semiurban,low,N
27,LP001100,Male,No,3+,Graduate,No,1,Rural,high,N
53,LP001206,Male,Yes,3+,Graduate,No,1,Urban,low,Y
60,LP001238,Male,Yes,3+,Not Graduate,Yes,1,Urban,medium,Y
65,LP001250,Male,Yes,3+,Not Graduate,No,0,Semiurban,medium,N
66,LP001253,Male,Yes,3+,Graduate,Yes,1,Semiurban,medium,Y
70,LP001263,Male,Yes,3+,Graduate,No,0,Semiurban,low,N
94,LP001384,Male,Yes,3+,Not Graduate,No,1,Semiurban,low,Y
112,LP001488,Male,Yes,3+,Graduate,No,1,Semiurban,medium,N
132,LP001536,Male,Yes,3+,Graduate,No,0,Semiurban,high,Y
145,LP001586,Male,Yes,3+,Not Graduate,No,1,Rural,low,N
150,LP001610,Male,Yes,3+,Graduate,No,0,Semiurban,medium,N
171,LP001682,Male,Yes,3+,Not Graduate,No,1,Urban,low,N
180,LP001711,Male,Yes,3+,Graduate,No,0,Semiurban,low,N
182,LP001715,Male,Yes,3+,Not Graduate,Yes,1,Rural,medium,Y
184,LP001720,Male,Yes,3+,Not Graduate,No,1,Semiurban,low,Y
217,LP001846,Female,No,3+,Graduate,No,1,Rural,low,Y
219,LP001854,Male,Yes,3+,Graduate,No,1,Urban,medium,N
227,LP001882,Male,Yes,3+,Graduate,No,0,Urban,medium,Y
271,LP002053,Male,Yes,3+,Graduate,No,1,Semiurban,medium,Y
273,LP002065,Male,Yes,3+,Graduate,No,1,Rural,high,Y
282,LP002113,Female,No,3+,Not Graduate,No,0,Urban,low,N
284,LP002115,Male,Yes,3+,Not Graduate,No,1,Rural,low,N
287,LP002126,Male,Yes,3+,Not Graduate,No,1,Semiurban,low,Y
293,LP002141,Male,Yes,3+,Graduate,No,1,Rural,low,Y
299,LP002160,Male,Yes,3+,Graduate,No,1,Semiurban,medium,Y
314,LP002219,Male,Yes,3+,Graduate,No,1,Rural,medium,Y
325,LP002255,Male,No,3+,Graduate,No,1,Rural,medium,Y
326,LP002262,Male,Yes,3+,Graduate,No,1,Rural,medium,Y
342,LP002317,Male,Yes,3+,Graduate,No,0,Rural,high,N
372,LP002418,Male,No,3+,Not Graduate,No,1,Semiurban,medium,Y
386,LP002484,Male,Yes,3+,Graduate,No,1,Urban,medium,Y
390,LP002500,Male,Yes,3+,Not Graduate,No,0,Urban,low,N
394,LP002519,Male,Yes,3+,Graduate,No,1,Semiurban,medium,Y
401,LP002536,Male,Yes,3+,Not Graduate,No,1,Rural,low,Y
429,LP002659,Male,Yes,3+,Graduate,No,1,Rural,low,Y
435,LP002692,Male,Yes,3+,Graduate,Yes,1,Rural,medium,Y
443,LP002720,Male,Yes,3+,Graduate,No,1,Urban,medium,Y
449,LP002740,Male,Yes,3+,Graduate,No,1,Rural,medium,Y
464,LP002795,Male,Yes,3+,Graduate,Yes,1,Semiurban,high,Y
473,LP002837,Male,Yes,3+,Graduate,No,0,Rural,low,N
479,LP002863,Male,Yes,3+,Graduate,No,1,Semiurban,medium,N
499,LP002953,Male,Yes,3+,Graduate,No,1,Urban,medium,Y
507,LP002979,Male,Yes,3+,Graduate,No,1,Rural,medium,Y

In [19]:
loan_data['Dependents'].unique()

array(['0', '1', '2', '3+'], dtype=object)

In [11]:
loan_data_after_drop = loan_data.drop(['Application_ID'],axis=1)

In [12]:
loan_data_after_drop.head()

,Gender,Married,Dependents,Education,Self_Employed,Credit_History,Property_Area,Income,Application_Status
0,Male,No,0,Graduate,No,1,Urban,medium,Y
1,Male,Yes,1,Graduate,No,1,Rural,medium,N
2,Male,Yes,0,Graduate,Yes,1,Urban,low,Y
3,Male,Yes,0,Not Graduate,No,1,Urban,low,Y
4,Male,No,0,Graduate,No,1,Urban,medium,Y

In [20]:
loan_data_after_drop['Dependents'].replace(to_replace ='3+',value='3',inplace = True)

In [21]:
loan_data_after_drop.head(10)

,Gender,Married,Dependents,Education,Self_Employed,Credit_History,Property_Area,Income,Application_Status
0,Male,No,0,Graduate,No,1,Urban,medium,Y
1,Male,Yes,1,Graduate,No,1,Rural,medium,N
2,Male,Yes,0,Graduate,Yes,1,Urban,low,Y
3,Male,Yes,0,Not Graduate,No,1,Urban,low,Y
4,Male,No,0,Graduate,No,1,Urban,medium,Y
5,Male,Yes,2,Graduate,Yes,1,Urban,medium,Y
6,Male,Yes,0,Not Graduate,No,1,Urban,low,Y
7,Male,Yes,3,Graduate,No,0,Semiurban,low,N
8,Male,Yes,2,Graduate,No,1,Urban,medium,Y
9,Male,Yes,1,Graduate,No,1,Semiurban,high,N